<h1 mat-dialog-title>{{ data.id ? 'Editar' : 'Crear' }} Producto</h1>
<div style="padding-top: 16px" mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Unidad de medida</mat-label>
        <input matInput [(ngModel)]="data.unidadMedida" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Categoría</mat-label>
        <input type="number" matInput [(ngModel)]="data.categoria.id" />
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</div>
