<h1 mat-dialog-title>{{ data.id ? 'Editar' : 'Registrar' }} Compra</h1>
<div style="padding-top: 16px" mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Fecha de Compra</mat-label>
        <input matInput type="date" [(ngModel)]="data.fechaCompra" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Cantidad</mat-label>
        <input
            matInput
            type="number"
            [(ngModel)]="data.cantidad"
            (ngModelChange)="recalcularMontoTotal()"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Precio Unitario</mat-label>
        <input
            matInput
            type="number"
            [(ngModel)]="data.precioUnitario"
            (ngModelChange)="recalcularMontoTotal()"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Monto Total</mat-label>
        <input matInput type="number" [value]="data.montoTotal" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Producto</mat-label>
        <mat-select
            [value]="data.producto?.id"
            (selectionChange)="onProductoChange($event.value)"
        >
            <mat-option *ngFor="let prod of productosOptions" [value]="prod.id">
                {{ prod.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Proveedor</mat-label>
        <mat-select
            [value]="data.proveedor?.id"
            (selectionChange)="onProveedorChange($event.value)"
        >
            <mat-option
                *ngFor="let prov of proveedoresOptions"
                [value]="prov.id"
            >
                {{ prov.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</div>
